@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
}
.uploadText{
  width: 100vw;
  font-size: xx-large;
  padding: 1%;
}

button {
  background-color: white;
  border: dashed;
  border-color: black;
  color: black;
  border-radius: 5px;
  text-align: center;
  font-size: large;
  margin: 1%;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
}

.footer{
  position: absolute;
  padding: 1%;
  bottom: 0;
  right: 0;
}

a:active{
  color: white;
}

a:link{
  color: white;
}

a:visited{
  color: white;
}

a:hover{
  font-style: italic;
  cursor: pointer;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input {
  content: 'choose a file';
  border: dashed white;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}